@import url("components/form.css");

body {
  margin: 0;
  font-family: "Varela", sans-serif;
  margin-top: 50px;
  background-color: rgb(250,250,250)
}
h1 {
  font-family: "Varela", sans-serif;
}

h2 {
  font-family: apple;
}

